.button2 {
  margin: 15px;
  padding: 0.45rem 15px;
  background:chocolate;
  color: white;
  border: 3px chocolate;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
/* body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Comic;
}

@font-face {
  font-family: Comic;
  src: url(./assets/COMIC.TTF);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  color: rgb(82, 82, 82);
}
.app {
  padding: 20px 40px;
}

input[type="text"] {
  width: 500px;
}

input[type="liltext"] {
  width: 580px;
}

.select,
input[type="text"] {
  padding: 4px 8px;
  border: 3px solid gray;
  color: gray;
  border-radius: 5px;
}

.select,
input[type="text"]:focus {
  outline: none;
  border: 3px solid gray;
}
input[type="file"]::-webkit-file-upload-button {
  margin-right: 20px;
}
input[type="file"]::-webkit-file-upload-button,
button {
  padding: 5px 10px;
  background: gray;
  color: white;
  border: 3px solid gray;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button2 {
  padding: 15px 15px;
  background:chocolate;
  color: white;
  border: 3px chocolate;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input[type="file"]::-webkit-file-upload-button:hover,
button:hover {
  background: white;
  color: gray;
}
.btn-group button {
  margin-right: 10px;
}

.selector-container {
  display: flex;
  align-items: center;
}
.selector-container .plus-icon {
  margin-left: 10px;
}
.live-text {
  color: gray;
  margin: 10px 0;
}

.line {
  margin: 10px 0;
}

div{
  display: inline-block;
  text-align: center;
}

.connect{
  background-color:darkgrey;
  width: 530px;
  border-radius: 5px;
} */